@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

.fuente-cursiva {
    font-family: 'Great Vibes', cursive;
}

.navbar-logo-size {
    font-size: 40px;
}


/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

#contenedorPreloader {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 350px;
}


/*---------------------------------------
       NAVBAR              
  -----------------------------------------*/

.bg-transparent {
    background: rgba(19, 15, 15, 0.548) !important;
}


/* Efecto botones navbar */

.swingHorizontal {
    color: hsl(222, 25%, 14%);
}

.swingHorizontal:hover {
    animation: swingHorizontal 1s ease;
    animation-iteration-count: 1;
}

@keyframes swingHorizontal {
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(3px);
    }
    65% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}


/*---------------------------------------
       CAROUSEL              
  -----------------------------------------*/


/*---------------------------------------
       MEDIA QUERIES              
  -----------------------------------------*/


/* Tablet y celular */

@media (max-width: 991.98px) {
    .ancho-btn {
        width: 26%;
    }
}


/* Computador */

@media (min-width: 992px) {
    .navbar-m-custom {
        margin-left: 120px;
    }
}