* {
    margin: 0%;
    padding: 0%;
}


/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

#contenedorPreloader {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 350px;
}