@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

.cursiva {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}


/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

#contenedorPreloader {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 350px;
}


/*---------------------------------------
       NAVBAR              
  -----------------------------------------*/

.bg-transparent {
    background: rgba(19, 15, 15, 0.548) !important;
}


/* Tablet y celular */

@media (max-width: 991.98px) {
    .ancho-btn {
        width: 26%;
    }
}